.thead {
	background: #bfbfbf;
	font-weight: bolder;
}

.Visible{
	background: #f2f2f2;
	color: #7f7f7f;
}

.CatgLv1 {
	margin-left: 0;
}

.CatgLv2 {
	margin-left: 20px;
	padding-left: 10px;
	border-left: 2px solid #dedede;
}

.CatgLv3 {
	margin-left: 40px;
	padding-left: 10px;
	border-left: 2px solid #dedede;
}