* {
	font-family:'微软雅黑';
}

body,html {
	color: #000;
  	margin-top:-20px;
}

.ColorRed {color: #ff0000;}
.ColorOrange {color: #ff7200;}
.ColorBlue {color: #3178d8;}
.ColorGreen {color: #218c00;}
.ColorGray {color: #5c5c5c;}

.f-size-12 {font-size: 12px;}
.f-size-14 {font-size: 14px;}
.f-size-16 {font-size: 16px;}

.n_top {
	height: 40px;
	border-bottom: 1px solid #d2d2d2;
	background: #f3f3f3;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 1px 1px #e6e6e6; 
	-moz-box-shadow: 1px 1px 1px #e6e6e6; 
}

.descaription {
	vertical-align: bottom;
	font-size: 14px;
	color: #818181;
}

.login {
	float: right;
	font-size: 12px;
	line-height: 40px;
}

.DayTitle {
	padding: 5px 10px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#d8d8d8));
}

.content {
	border-right: 1px #d8d8d8 solid;
	border-left: 1px #d8d8d8 solid;
	border-bottom: 1px #d8d8d8 solid;
}

.NorCtn {
	color: #5c5c5c;
	font-size: 12px;
}

.btn_center {
  width:100px;
  margin-left:auto;
  margin-right:auto;
}

.footer {
	text-align: center;
	font-size: 12px;
}